<div class="container">
    <h1>TO DO LIST</h1>
    <form (ngSubmit)="addItem(tasks.value)">
        <input type="text" #tasks> &nbsp;
        <button type="submit" class="primary">Add task</button>
    </form>
    <main>
    
        
        <ul *ngFor="let item of todos">
            <li>{{ item.value }} &nbsp;<button class="danger" (click)="removeItem(item.id)">Delete</button>  &nbsp;<button *ngIf="!item.edit; else edit" class="edit-button" (click)="editItem(item.id)">Edit</button> &nbsp;  </li>
            <ng-template #edit>
                <input class="input-edit" type="text" [(ngModel)]="item.value"> <button (click)="saveItem(item.id)" class="save"   >Save</button>
            </ng-template>
        </ul>
    </main>
  
</div>

 