.container{
    text-align: center;
    width: 50%;
    margin: auto;
    border: 2px solid rgb(161, 233, 233) ;
}
h1{
    background-color: rgb(161, 233, 233);
    color: #fff;
}
main{
    margin-top: 20px;
   
    
}
ul{
    padding: 0 20px;
    
    list-style-type: none;
}
.input-edit{
    width: auto;
}

button{
    border: none;
    box-shadow: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
}

.primary{
    background-color: rgb(86, 153, 230);
}
.danger{
    background-color: rgba(235, 103, 110, 0.74);
}
.edit-button{
    background-color: rgb(231, 215, 71);
}
.save{
    background-color: rgb(55, 233, 174);
}
input{
    border: 1px solid rgb(47, 209, 238);
    height: 36px;
    width: 400px;
}